body {
	padding-top:50px;
	font-family: 'arial', sans-serif;
}

::selection {
	background: #a6ce39;
}

.container-fluid {
	padding: 0px;
}

/*Top Navigation*/
#top-navigation {
	border: 0;
}

#brand {
	padding: 4px 4px 4px 12px;
}
#brand img {
	height: 100%;
	padding: 0;
	margin: 0;
}

#nav-buttons {
	padding-right: 20px;
}

#nav-buttons a {
	transition: all 0.3s ease;
}

#nav-buttons a:hover {
	background-color: #a6ce39;
	color: #333333;
}

/*feature area*/
#feature {
	background: url(img/feature_image.jpg) center center no-repeat;
	background-size: cover;
	padding: 100px 0px 100px 0px;
	/*height: 800px;
	width: 100%;*/
	position: relative;
}

.feature-content {
	display: block;
	position: relative;
	top: 5%;
	margin: 0 auto 0 auto;
	text-align: center;
	color: #818182;
	padding: 25px 0px 0px 0px;
}

.bullets {
	color: #a6ce39;
}

/*about section*/
#about-section {
	background-color: #a6ce39;
	color: #333333;
	position: relative;
}

#about-text {
	padding: 20px 20px 20px 20px;
}

#headshot {
	border-radius:50%;
	background: url("img/travis_headshot.png") center center no-repeat;
	width: 350px;
	height: 350px;
	background-size: 350px;
	margin: 30px auto 30px auto;
	position: relative;
}

.custom-button {
	background-color: transparent;
	width: 200px;
	border: 2px #333333 solid;
	border-radius: 3px;
	font-size: 16px;
	color: #333333;
	transition: all 0.3s ease;
}

.custom-button:hover {
	background-color: #333333;
	color: #a6ce39;
}

/*skills section*/
#skills-section {
	background-color: white;
	height: 400px;
}

/*portfolio section*/
#portfolio-section p{
	text-align: center;
	margin: -20px 0px 0px 0px;
	padding: 0px;
	font-size: 20px;
}

#portfolio-section img{
	width: 100%;
	height: auto;
	padding: 25px 0px 25px 0px;
}

/*contact section*/
#contact-section {
	background-color: #333333;
	padding: 20px 0px 20px 0px;
	clear: left;
	padding: 30px 30px 30px 70px;
	font-family: sans-serif;
	font-size: 16px;
	margin: 20px auto 0px auto;
}

#contact-form {
	background-color: white;
	padding: 20px;
	border-radius: 3px;
}

legend {
	font-family: 'arial', sans-serif;
	font-size: 24px;
}

#contact-section button {
	background-color: #a6ce39;
	font-size: 16px;
	text-align: center;
	width: 80px;
	height: 40px;
    border: 0;
    border-radius: 3px;
    transition: all 0.3s ease;
}

#contact-section button:hover {
	background-color: #333333;
	color: white;
}

#contact-section button:focus {
	background-color: #666666;
}

#contact-section input {
	width: 50%;
}

input {
	border-radius: 3px;
	appearance: none;
}

textarea {
	width: 100%;
	height: 300px;
	border-radius: 3px;
}


