body {
	padding-top:50px;
	font-family: 'arial', sans-serif;
}

::selection {
	background: #a6ce39;
}

::focus {
	background: #a6ce39;
}

.container-fluid {
	padding: 0px;
}

/*Top Navigation*/
#top-navigation {
	border: 0;
}

#brand {
	padding: 4px 4px 4px 12px;
}
#brand img {
	height: 100%;
	padding: 0;
	margin: 0;
}

#nav-buttons {
	padding-right: 20px;
}

#nav-buttons a {
	transition: all 0.3s ease;
}

#nav-buttons a:hover {
	background-color: #a6ce39;
	color: #333333;
}

/*feature area*/
#feature {
	background: url(img/feature_image_contrast.jpg) center center no-repeat;
	background-size: cover;
	padding: 100px 0px 100px 0px;
	/*height: 800px;
	width: 100%;*/
	position: relative;
}

.feature-content {
	display: block;
	position: relative;
	top: 5%;
	margin: 0 auto 0 auto;
	text-align: center;
	color: #a6ce39;
	padding: 25px 0px 0px 0px;
}

/*#feature-descriptor {
	background-color: #a6ce39;
	display: block;
	padding: 10px;
	color: #eeeeee;
}*/

.bullets {
	color: #333333;
}

/*about section*/
#about-section {
	background-color: #a6ce39;
	color: #333333;
	position: relative;
}

#about-section h2 {
	font-size: 40px;
	font-weight: bold;
}

#about-text {
	padding: 20px 20px 20px 20px;
}

#about-text p {
	font-size: 18px;
}

#headshot {
	border-radius:50%;
	background: url("img/travis_headshot.png") center center no-repeat;
	width: 350px;
	height: 350px;
	background-size: 350px;
	margin: 30px auto 30px auto;
	position: relative;
}

.custom-button {
	background-color: transparent;
	width: 200px;
	border: 2px #333333 solid;
	border-radius: 3px;
	font-size: 16px;
	color: #333333;
	transition: all 0.3s ease;
}

.custom-button:hover {
	background-color: #333333;
	color: #a6ce39;
}

/*skills section*/
#skills-section {
	width: 100%;
	background-color: white;
	height: auto;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

#skills-section h2 {
	font-size: 40px;
	font-weight: bold;
}

#skills-section ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#skills-section li {
	padding:10px 0px 0px 0px;
}

#skills-section span {
	color:#a6ce39;
	font-weight: bold;
	font-size: 28px;
}

/*portfolio section*/
#portfolio-section p{
	text-align: center;
	margin: -20px 0px 0px 0px;
	padding: 0px;
	font-size: 20px;
}

#portfolio-section img{
	width: 100%;
	height: auto;
	padding: 25px 0px 10px 0px;
}

/*contact section*/
#contact-section {
	background: url('img/dark_laptop_background.jpg') center center no-repeat;
	background-size: cover;
	background-color: #333333;
	padding: 20px 0px 20px 0px;
	clear: left;
	padding: 30px 30px 30px 70px;
	font-family: sans-serif;
	font-size: 16px;
	margin: 20px auto 0px auto;
}

#contact-form {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	border-radius: 3px;
}

legend {
	font-family: 'arial', sans-serif;
	font-size: 24px;
}

#contact-section button {
	background-color: #a6ce39;
	font-size: 16px;
	text-align: center;
	width: 200px;
	height: 40px;
    border: 0;
    border-radius: 3px;
    transition: all 0.3s ease;
}

#contact-section button:hover {
	background-color: #333333;
	color: white;
}

#contact-section button:focus {
	background-color: #666666;
}

/*social section*/
#social-section{
	width: 100%;
	background-color: #a6ce39;
	position: relative;
	margin: 0px auto 0px auto;
}

.soc-buttons {
	width: 100%;
	height: 170px;
	/*position: relative;*/
	text-align: center;
	margin: 0px auto 0px auto;
}

span.icon {
	display: inline-block;
	margin: 0px auto 0px auto;
}

span.icon a:link {
	display: block;
	text-indent: -9999px;
}

span.linkedin-button a:link {
	width: 100px;
	height: 100px;
	background: url("img/linkedin_icon.png") no-repeat;
	/*transition: all 0.2s ease;*/
	float:left;
	padding: 0px 20px 0px 20px;
}

span.linkedin-button a:hover {
	background-position: 0px -100px;
	overflow: hidden;
}

span.github-button a:link {
	width: 100px;
	height: 100px;
	background: url("img/github_icon.png")no-repeat;
	/*transition: all 0.2s ease;*/
	float: left;
	padding: 0px 20px 0px 20px;
}

span.github-button a:hover {
	background-position: 0px -100px;
	overflow: hidden;
}

/*footer section*/
#footer {
	background-color: #333333;
	color: white;
	height: 50px;
	width: 100%;
	margin: 0px auto 0px auto;
	padding: 15px;
	text-align: center;
}








