body{
	padding-top:70px;
}

.container{
	background-color: #333333;
}

/*Top Navigation*/
#top-navigation{
	border: 0;
}

#brand{
	padding: 0px 0px 0px 5px;
}
#brand img{
	height: 100%;
	padding: 0;
	margin: 0;
}

#nav-buttons{
	padding-right: 20px;
}

#nav-buttons a{
	transition: all 0.3s ease;
}

#nav-buttons a:hover{
	background-color: #a6ce39;
	color: #333333;
}